[Unit]
Description=Portable Backup emailed report every Saturday

[Timer]
OnCalendar=Sat *-*-* 06:00:00
Persistent=true
AccuracySec=1min
Unit=portable-backup-report-email.service

[Install]
WantedBy=timers.target
