[Unit]
Description=Portable Backup report Sunday through Friday

[Timer]
OnCalendar=Sun,Mon..Fri *-*-* 06:00:00
Persistent=true
AccuracySec=1min
Unit=portable-backup-report.service

[Install]
WantedBy=timers.target
