[Unit]
Description=Portable backup operation
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=root
UMask=0077
Environment=HOME=/root
Environment=XDG_CACHE_HOME=/var/cache/portable-backup
ExecStart=/opt/portable-backup/bin/pb run %i
TimeoutStartSec=infinity
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
